<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间的值为dao层接口的权限定名 -->
<mapper namespace="com.zhuzhenshan.movie.dao.MovieMapper" >

	<select id="selects" resultType="Movie" >
		select * from t_movie
		
		<where>
			<!-- 电影名称 -->
			<if test="name!=null and name!=''">
				name like "%"#{name}"%"
			</if>
			<!-- 上映时间和结束时间 -->
			<if test="t1!=null and t1!=''">
				and uptime &gt;=#{t1}

			</if>
			<if test="t2!=null and t2!=''">
				and uptime &lt;= #{t2}
			</if>
			<!-- 导演 -->
			<if test="actor!=null and actor!=''">

				and actor = #{actor}

			</if>
			<!-- 价格区间 -->
			<if test="p1!=null">
				and price &gt;= #{p1}

			</if>
			<if test="p2!=null">
				and price &lt;= #{p2}
			</if>
			<!-- 年代 -->
			<if test="years!=null">
				and years =#{years}

			</if>
			<!-- 电影时间长 -->

			<if test="l1!=null and l1!=''">
				and longtime &gt;=#{l1}

			</if>
			<if test="l2!=null and l2!=''">
				and longtime &lt;= #{l2}
			</if>
		</where>
		<if test="(orderMethod!=null and orderMethod!='') and (orderName!=null and orderName!='')">
			order by ${orderName} ${orderMethod}
		</if>
	</select>
	
	<delete id="deleteAll">
		delete from t_movie where id in 
		<foreach collection="array" item="id" separator="," close=")" open="(" >
			#{id}
		</foreach>
	</delete>
	
</mapper>